/* our modules.css */
.pull-right {
  float: right;
}

.pull-left {
    float: left;
}

.site-header {
  background: #ffeaa9;
  padding-top: 20px;
  padding-left: 15px;
}

.icon-menu {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2em;
}
 