.main-nav{
    display: flex;
    position: relative
}

.icon-menu{
    position: absolute;
    right: 5px;
    top: -150px;
}

nav ul {
    display: none;
}

nav li {
    border-bottom: 1px solid grey;
    padding: 5px 0 5px 0
}
.icon-menu:hover + ul {
    display: block;
    width: 100%;
    color: grey;
    font-family: serif;
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* add padding to byline elements */
address,
time {
    padding: 0 0.5em 0 0.5em
}

